@use '../abstracts/mixins';
@use '../abstracts/functions';

.popup {
    position: relative;
    @include mixins.positionFlex(column, center, center);
    width: 80vw;
    max-width: 650px;
    height: 55vh;
    min-height: 250px;
    max-height: 400px;
    border-radius: 5px;
    background-color: functions.color('white');
    color: functions.color(black);

    @include mixins.respond-to('tablet') {
        width: 70vw;
    }

    @include mixins.respond-to('desktop') {
        width: 55vw;
    }

    &__header {
        position: relative;
        @include mixins.positionFlex(row, center, center);
        width: 100%;
		padding-top: 8px;
		
		@include mixins.respond-to('tablet') {
			padding-top: 12px;
		}
    }

    &__heading {
        margin: 0;
    }

    &__body {
        @include mixins.positionFlex(column, center, left);
		flex: 1;
		font-size: .7rem;

		@include mixins.respond-to('tablet') {
			font-size: .9rem;
		}
    }

    &__text--bold {
        font-weight: bold;
    }
}