@use '../abstracts/mixins';
@use '../abstracts/functions';

.tile {
    position: absolute;
    @include mixins.positionFlex(row, center, stretch);
    border-radius: 5px;
    background-color: functions.color(dark-slate-blue);

    @include mixins.tile-modifiers;

    &--t4 {
        height: 88px;
        width: 88px;
        font-size: 16px;

        @include mixins.respond-to('mobile') {
            height: 66px;
            width: 66px;
            font-size: 12px;
        }
    }

    &--t5 {
        height: 72px;
        width: 72px;
        font-size: 14px;

        @include mixins.respond-to('mobile') {
            height: 54px;
            width: 54px;
            font-size: 10px;
        }
    }

    &--add {
        @include mixins.animation(addTile, 800ms) {
            0% {transform: scale(0);}
            50% {transform: scale(0);}
            100% { transform: scale(1);}
        }
    };

    &--move {
        transition: all .4s ease;
    }

    &--merge {
        @include mixins.animation(mergeTiles, 600ms) {
            0% { transform: scale(2) };
            100% { transform: scale(1); }
        }
    }
    
    &__value {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2rem;
        width: 6rem;
        font-size: 2em;
        font-weight: bold;
        line-height: 2rem;
        text-align: center;
        text-shadow: functions.color(black) 1px 1px;
        transform: translate(-50%, -50%);
    }
}