@use '../abstracts/mixins';
@use '../abstracts/functions';

.tile {
    position: absolute;
    @include mixins.positionFlex(row, center, stretch);
    border-radius: 5px;
    background-color: functions.color(dark-slate-blue);
    @include mixins.tile-modifiers;

    &--size-4 {
        height: 66px;
		width: 66px;
		font-size: 2rem;

        @include mixins.respond-to('tablet') {
            height: 88px;
            width: 88px;
        }
    }

    &--size-5 {
        height: 54px;
		width: 54px;
		font-size: 1.6rem;

        @include mixins.respond-to('tablet') {
            height: 72px;
			width: 72px;
			font-size: 1.8rem;
        }
    }

    &--add {
        @include mixins.animation(addTile, 800ms) {
            0% {transform: scale(0);}
            50% {transform: scale(0);}
            100% { transform: scale(1);}
        }
    }

    &--move {
        transition: all .4s ease;
    }

    &--merge {
        @include mixins.animation(mergeTiles, 600ms) {
            0% { transform: scale(2) };
            100% { transform: scale(1); }
        }
    }
    
    &__value {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2em;
        width: 6em;
        font-size: 1em;
        font-weight: bold;
        line-height: 2em;
        text-align: center;
        text-shadow: functions.color(black) 1px 1px;
		transform: translate(-50%, -50%);
		
    }
}