@use '../abstracts/mixins';
@use '../abstracts/functions';

.game-option {

    $self: &;

    &__text {
        margin: 5px 0 0 0;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    &__input {
        display: none;
    }
    
    &__img {
        @include mixins.positionFlex(column, center, center);
        height: 300px;
        width: 300px;
        border: 3px solid transparent;
        border-radius: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .7;
    
        @include mixins.respond-to('tablet') {
            height: 210px;
            width: 210px;
        }
    
        @include mixins.respond-to('mobile') {
            height: 150px;
            width: 150px;
            margin: 5px;
        }
    
        &--board-4x4 {
            background-image: url('./../img/4-gametype-l.png');
            @include mixins.respond-to('tablet') {
                background-image: url('./../img/4-gametype-m.png');
            }
        
            @include mixins.respond-to('mobile') {
                background-image: url('./../img/4-gametype-s.png');
            }
        }
    
        &--board-5x5 {
            background-image: url('./../img/5-gametype-l.png');
            @include mixins.respond-to('tablet') {
                background-image: url('./../img/5-gametype-m.png');
            }
        
            @include mixins.respond-to('mobile') {
                background-image: url('./../img/5-gametype-s.png');
            }
        }

        #{$self}__input:checked + & {
            border-color: functions.color(selective-yellow);
            opacity: 1;
        }
    }
}

