@use '../abstracts/mixins';
@use '../abstracts/functions';

.game-option {

    $self: &;

    &__text {
        margin: 5px 0 0 0;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    &__input {
        display: none;
    }
    
    &__img {
        @include mixins.positionFlex(column, center, center);
        height: 150px;
        width: 150px;
        border: 3px solid transparent;
        border-radius: 5px;
        background-position: center center;
        background-repeat: no-repeat;
		opacity: .7;
		margin: 5px;
    
        @include mixins.respond-to('tablet') {
            height: 210px;
			width: 210px;
			margin: 0;
        }
    
        @include mixins.respond-to('desktop') {
            height: 300px;
            width: 300px;
        }
    
        &--board-4x4 {
			@include mixins.background-image('../img/4x4-gametype', 2, 3);
        }
    
        &--board-5x5 {
			@include mixins.background-image('../img/5x5-gametype', 2, 3);
        }

        #{$self}__input:checked + & {
            border-color: functions.color(selective-yellow);
            opacity: 1;
        }
    }
}

