$inter: 'Inter', sans-serif;
$screen-s-max: 480px;
$screen-l-max: 812px;
$colors: (
    'black': #000000,
    'black-7-opacity': #000000B3,
    'dark-slate-blue': #3D348B,
    'medium-slate-blue': #7678ED,
    'selective-yellow': #F7B801,
    'light-gray': #F2F2F2,
    'white': #FFFFFF
) !default;

$tileColors: (
    '2': #FFE55E,
    '4': #F5E027,
    '8': #FFD600,
    '16': #FFC11E,
    '32': #FFC46B,
    '64': #FF905A,
    '128': #FC9A40,
    '256': #FF7A2F,
    '512': #F85C50,
    '1024': #EE3D48,
    '2048': #E20338,
    '4096': #AA3429,
    '8192': #932620,
    '16384': #65070C
) !default;

$breakpoints: (
  'mobile': (max-width: #{$screen-s-max}),
  'tablet': (min-width: #{$screen-s-max+1}),
  'desktop': (min-width: #{$screen-l-max+1}),
) !default;