@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/functions';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
	font-size: 16px;
	
	@include mixins.respond-to('tablet') {
		font-size: 18px;
		height: 100%;
	}
}

body {
    position: relative;
    @include mixins.positionFlex(column, normal, normal);
    height: calc(100% - 45px);
    padding: 0;
    margin: 0;
    background-color: functions.color(dark-slate-blue);
    color: functions.color(white);
    font-family: variables.$inter;
	overscroll-behavior: contain;
}

.wrapper {
    @include mixins.positionFlex(column, normal, center);
    flex: 9;
    width: 100%;
	margin: 0 auto;
	
	@include mixins.respond-to('desktop') {
		max-width: 900px;
	}
}

.entry-screen {
    @include mixins.positionFlex(column, center, center);
    width: 100%;
	flex: 9;

    &--hidden {
        display: none;
	}

    &__main-heading {
		@include mixins.positionFlex(column, center, center);
	}
	
	&__sub-heading {
		padding-top: 15px;
		font-size: .6em;
	}
}

.game-options {
    @include mixins.positionFlex(row, space-evenly, normal);
    width: 100%;
	padding-bottom: 20px;
	border: none;

	&__legend {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

.game {
    @include mixins.positionFlex(column, center, normal);
    flex: 9;
	width: 100%;
	overflow: hidden;

    &--hidden {
        display: none;
    }

    &__heading {
        text-align: center;
    }

    &__details {
        @include mixins.positionFlex(row, space-between, stretch);
        width: 300px;
        margin: 0px auto 20px auto;

        @include mixins.respond-to('tablet') {
            width: 400px;
        }
    }

    &__actions {
        display: flex;
    }

    &__results {
        @include mixins.positionFlex(row, center, center);
        border: 1px solid functions.color(medium-slate-blue);
        border-radius: 5px;
    }    
}

.overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    @include mixins.positionFlex(row, center, center);
    height: 100vh;
    width: 100%;
    background-color: functions.color(black-7-opacity);

    &--hidden {
        display: none;
    }
}

.pull-right {
    position: absolute;
    right: 0;
}

.pull-top {
    position: absolute;
    top: 0;
}