@mixin removeGap {
    padding: 0;
    margin: 0;
}

@mixin centerFlex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center
}

@mixin animation($name, $duration) {
    @keyframes #{$name} {
      @content;
    }
    animation-name: $name;
    animation-duration: $duration;
  }

  @mixin tablet {
    @media (min-width: #{$screen-s-max+1}) and (max-width: #{$screen-l-max}) {
        @content;
    }
  }

  @mixin mobile {
    @media (min-width: #{$screen-s-min}) and (max-width: #{$screen-s-max}) {
        @content;
    }
 }