@mixin removeGap {
    padding: 0;
    margin: 0;
}

@mixin centerFlex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center
}

@mixin animation($name, $duration) {
    @keyframes #{$name} {
      @content;
    }
    animation-name: $name;
    animation-duration: $duration;
  }