$inter: 'Inter', sans-serif;
$black: #000000;
$black-7-opacity: #000000B3;
$dark-slate-blue: #3D348B;
$medium-slate-blue: #7678ED;
$selective-yellow: #F7B801;
$tangerine: #F18701;
$orange-pantone: #F35B04;
$tile2--bg: #FFE55E;
$tile4--bg: #F5E027;
$tile8--bg: #FFD600;
$tile16--bg: #FFC11E;
$tile32--bg: #FFC46B;
$tile64--bg: #FF905A;
$tile128--bg: #FC9A40;
$tile256--bg: #FF7A2F;
$tile512--bg: #F85C50;
$tile1024--bg: #EE3D48;
$tile2048--bg: #E20338;
$light-gray: #F2F2F2;
$white: #FFFFFF;
$screen-s-max: 480px;
$screen-l-max: 724px;