$inter: 'Inter', sans-serif;
$screen-s-max: 480px;
$screen-l-max: 812px;
$colors: (
    'black': #000000,
    'dark-slate-blue': #3D348B,
    'black-7-opacity': #000000B3,
    'medium-slate-blue': #7678ED,
    'selective-yellow': #F7B801,
    'light-gray': #F2F2F2,
    'white': #FFFFFF
) !default;

$tileColors: (
    'tile2--bg': #FFE55E,
    'tile4--bg': #F5E027,
    'tile8--bg': #FFD600,
    'tile16--bg': #FFC11E,
    'tile32--bg': #FFC46B,
    'tile64--bg': #FF905A,
    'tile128--bg': #FC9A40,
    'tile256--bg': #FF7A2F,
    'tile512--bg': #F85C50,
    'tile1024--bg': #EE3D48,
    'tile2048--bg': #E20338,
    'tile4096--bg': #AA3429,
    'tile8192--bg': #932620,
    'tile16384--bg': #65070C
) !default;
$breakpoints: (
  'mobile': 'screen and (min-width: #{$screen-s-max+1}) and (max-width: #{$screen-l-max})',
  'tablet': 'screen and (max-width: #{$screen-s-max})',
  'landscapeScreens': 'screen and (max-width: #{$screen-l-max}) and (orientation:landscape)'
) !default;