*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}
@media (min-width: 481px) {
  html {
    font-size: 18px;
  }
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #3D348B;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 813px) {
  .wrapper {
    max-width: 900px;
  }
}

.entry-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}
.entry-screen--hidden {
  display: none;
}
.entry-screen__heading {
  text-align: center;
}

.game-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  width: 100%;
  padding-bottom: 20px;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
  width: 100%;
  overflow: hidden;
}
.game--hidden {
  display: none;
}
.game__heading {
  text-align: center;
}
.game__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 300px;
  margin: 0px auto 20px auto;
}
@media (min-width: 481px) {
  .game__details {
    width: 400px;
  }
}
.game__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.game__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #7678ED;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000000B3;
}
.overlay--hidden {
  display: none;
}

.pull-right {
  position: absolute;
  right: 0;
}

.pull-top {
  position: absolute;
  top: 0;
}

.board {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-repeat: no-repeat;
  -webkit-animation-name: blur;
  animation-name: blur;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(20px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
@keyframes blur {
  0% {
    -webkit-filter: blur(20px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
@media (min-width: 481px) {
  .board {
    width: 400px;
    height: 400px;
  }
}
.board--4x4 {
  background-image: url("../img/4x4mobile.png");
}
@media (min-width: 481px) {
  .board--4x4 {
    background-image: url("../img/4x4desktop.png");
  }
}
.board--5x5 {
  background-image: url("../img/5x5mobile.png");
}
@media (min-width: 481px) {
  .board--5x5 {
    background-image: url("../img/5x5desktop.png");
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5em;
  margin: 0.2em;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
@media (min-width: 481px) {
  .btn {
    font-size: 1.2rem;
  }
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn--primary {
  border: 1px solid #7678ED;
  background-color: #7678ED;
  color: #FFFFFF;
}
.btn--primary:not(:disabled):hover {
  border: 1px solid #7678ED;
  background-color: #F7B801;
  color: #3D348B;
  cursor: pointer;
}
.btn__icon {
  height: 1.2em;
  width: 1.2em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.footer__link {
  color: #F7B801;
  font-weight: bold;
  text-decoration: none;
}

.game-option__text {
  margin: 5px 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.game-option__input {
  display: none;
}
.game-option__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 3px solid transparent;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin: 5px;
}
@media (min-width: 481px) {
  .game-option__img {
    height: 210px;
    width: 210px;
    margin: 0;
  }
}
@media (min-width: 813px) {
  .game-option__img {
    height: 300px;
    width: 300px;
  }
}
.game-option__img--board-4x4 {
  background-image: url("./../img/4-gametype-s.png");
}
@media (min-width: 481px) {
  .game-option__img--board-4x4 {
    background-image: url("./../img/4-gametype-m.png");
  }
}
@media (min-width: 813px) {
  .game-option__img--board-4x4 {
    background-image: url("./../img/4-gametype-l.png");
  }
}
.game-option__img--board-5x5 {
  background-image: url("./../img/5-gametype-s.png");
}
@media (min-width: 481px) {
  .game-option__img--board-5x5 {
    background-image: url("./../img/5-gametype-m.png");
  }
}
@media (min-width: 813px) {
  .game-option__img--board-5x5 {
    background-image: url("./../img/5-gametype-l.png");
  }
}
.game-option__input:checked + .game-option__img {
  border-color: #F7B801;
  opacity: 1;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}
@media (min-width: 481px) {
  .score {
    padding: 0 15px;
  }
}
.score__text--bold {
  font-weight: bold;
}

.tile {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 5px;
  background-color: #3D348B;
}
.tile--2 {
  background-color: #FFE55E;
}
.tile--4 {
  background-color: #F5E027;
}
.tile--8 {
  background-color: #FFD600;
}
.tile--16 {
  background-color: #FFC11E;
}
.tile--32 {
  background-color: #FFC46B;
}
.tile--64 {
  background-color: #FF905A;
}
.tile--128 {
  background-color: #FC9A40;
}
.tile--256 {
  background-color: #FF7A2F;
}
.tile--512 {
  background-color: #F85C50;
}
.tile--1024 {
  background-color: #EE3D48;
}
.tile--2048 {
  background-color: #E20338;
}
.tile--4096 {
  background-color: #AA3429;
}
.tile--8192 {
  background-color: #932620;
}
.tile--16384 {
  background-color: #65070C;
}
.tile--size-4 {
  height: 66px;
  width: 66px;
  font-size: 2rem;
}
@media (min-width: 481px) {
  .tile--size-4 {
    height: 88px;
    width: 88px;
  }
}
.tile--size-5 {
  height: 54px;
  width: 54px;
  font-size: 1.6rem;
}
@media (min-width: 481px) {
  .tile--size-5 {
    height: 72px;
    width: 72px;
    font-size: 1.8rem;
  }
}
.tile--add {
  -webkit-animation-name: addTile;
  animation-name: addTile;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}
@-webkit-keyframes addTile {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes addTile {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.tile--move {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tile--merge {
  -webkit-animation-name: mergeTiles;
  animation-name: mergeTiles;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
}
@-webkit-keyframes mergeTiles {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes mergeTiles {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.tile__value {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2em;
  width: 6em;
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  text-shadow: #000000 1px 1px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80vw;
  max-width: 650px;
  height: 55vh;
  min-height: 250px;
  max-height: 400px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #000000;
}
@media (min-width: 481px) {
  .popup {
    width: 70vw;
  }
}
@media (min-width: 813px) {
  .popup {
    width: 55vw;
  }
}
.popup__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-top: 8px;
}
@media (min-width: 481px) {
  .popup__header {
    padding-top: 12px;
  }
}
.popup__heading {
  margin: 0;
}
.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.7rem;
}
@media (min-width: 481px) {
  .popup__body {
    font-size: 0.9rem;
  }
}
.popup__text--bold {
  font-weight: bold;
}