@import './variables';
@import './mixins';

*,
*:before,
*:after {
    box-sizing: border-box;
}

.html {
    height: 100vh;
}

.body {
    font-family: $inter;
    font-size: 16px;
    background-color: $dark-slate-blue;
    @include removeGap;
    color: $white;
    height : 100%;
    @include centerFlex(column);
    position: relative;
}

.btn {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: $inter;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding: 15px;
    margin: 0 5px;

    &.btn--primary {
        color: $white;
        background-color: $medium-slate-blue;
        border: 1px solid $medium-slate-blue;
        
        &:not(:disabled):hover {
            background-color: $selective-yellow;
            border: 1px solid $medium-slate-blue;
            color: $dark-slate-blue;
            cursor: pointer;
        }
    }

    &:disabled {
        opacity: .5;
    
        &:hover {
            cursor: not-allowed;
        }
    }
}

.radio {
    display: none;
}

.label {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 300px;
    width: 300px;
    opacity: .7;

    @include tablet {
        height: 210px;
        width: 210px;
    }

    @include mobile {
        height: 150px;
        width: 150px;
        margin: 5px;
    }

    &.label--4 {
        background: url('./../img/4-gametype-l.png') center center;
        @include tablet {
            background: url('./../img/4-gametype-m.png') center center;
        }
    
        @include mobile {
            background: url('./../img/4-gametype-s.png') center center;
        }
    }

    &.label--5 {
        background: url('./../img/5-gametype-l.png') center center;
        @include tablet {
            background: url('./../img/5-gametype-m.png') center center;
        }
    
        @include mobile {
            background: url('./../img/5-gametype-s.png') center center;
        }
    }
}

.radio:not(:checked) + label {
    border: 3px solid transparent;
}

.radio:checked + label {
    border: 3px solid $selective-yellow;
    border-radius: 5px;
    opacity: 1;
}

.entry-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    .row {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-evenly;
        width: 90vw;

        .radio:not(:checked) + label img {
            border: 3px solid transparent;
            border-radius: 5px;
            opacity: .6;
        }

        .radio__img {
            padding: 10px;
        }

        .radio__text {
            text-align: center;
            font-family: $inter;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 5px 0 0 0;
        }

        .btn {
            margin: 20px;
        }
    }
}

.hidden {
    display: none;
}

.overlay {
    display: none;
}

.overlay--visible {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;

    .popup {
        background-color: white;
        position: relative;
        width: 55vw;
        max-width: 650px;
        height: 55vh;
        border-radius: 5px;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            width: 70vw;
        }

        @include mobile {
            width: 80vw;
        }

        .popup__header {
            display: flex;
            align-items: center;
            align-content: center;
            width: 100%;
            position: relative;
            justify-content: center;
            padding-top: 16px;

            .header__text {
                margin: 0;
            }

            .btn--close {
                position: absolute;
                right: 10px;
                top: 10px;
                padding: 10px;
                margin: 0;
                background-color: transparent;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 5px;
            
                &:hover {
                    cursor: pointer;
                    background-color: #f2f2f2;
                }

                .icon--close {
                    height: auto;
                    width: 100%;
                }
            }
    }

            .popup__body {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;

                .text__label {
                    font-weight: bold;
                }
            }
        }
}

.main {

    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    .header__text {
        text-align: center;
    }

    > .row {
        @include centerFlex(row);
        align-items: stretch;
        margin-bottom: 20px;

        .btns__wrapper {
            display: flex;
        }

        .scoreboard {
            @include centerFlex(row);
            border-radius: 5px;
            border: 1px solid $medium-slate-blue;
            margin-left: 12px;
        
            .scoreboard__wrapper {
                @include centerFlex(column);
                padding: 0 15px;
                height: 100%;

                .scoreboard__value {
                    font-weight: bold;
                }
            }
        }
    }

    .board {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        position: relative;

        @include mobile {
            width: 300px;
            height: 300px;
        }

        &#t4 {
            background: url('../img/4x4desktop.png') no-repeat no-repeat;
            @include animation(blur, .4s) {
                0% { -webkit-filter: blur(20px);}
                100% { -webkit-filter: blur(0px);}
            }
            @include mobile {
                background: url('../img/4x4mobile.png') no-repeat no-repeat;
            }
        }
        
        &#t5 {
            background: url('../img/5x5desktop.png') no-repeat no-repeat;
            @include animation(blur, .4s) {
                0% { -webkit-filter: blur(20px);}
                100% { -webkit-filter: blur(0px);}
            }
            @include mobile {
                background: url('../img/5x5mobile.png') no-repeat no-repeat;
            }
        }

        .tile {
            background-color: $dark-slate-blue;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: stretch;
            border-radius: 5px;
            position: absolute;

            &.t4 {
                height: 88px;
                width: 88px;

                @include mobile {
                    height: 66px;
                    width: 66px;
                }
            }

            &.t5 {
                height: 72px;
                width: 72px;

                @include mobile {
                    height: px;
                    width: 54px;
                }
            }
            
            .tile__value {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                font-weight: bold;
                height: 2rem;
                width: 6em;
                line-height: 2rem;
                text-align: center;
                text-shadow: #0f0f0f 1px 1px;
            }

            }

        .tile--2 {
            background-color: $tile2--bg;
        }

        .tile--4 {
            background-color: $tile4--bg;
        }

        .tile--8 {
            background-color: $tile8--bg;
        }

        .tile--16 {
            background-color: $tile16--bg;
        }

        .tile--32 {
            background-color: $tile32--bg;
        }

        .tile--64 {
            background-color: $tile64--bg;
        }

        .tile--128 {
            background-color: $tile128--bg;
        }

        .tile--256 {
            background-color: $tile256--bg;
        }

        .tile--512 {
            background-color: $tile512--bg;
        }

        .tile--1024 {
            background-color: $tile1024--bg;
        }

        .tile--2048 {
            background-color: $tile2048--bg;
        }

        .add {
            @include animation(addTile, .8s) {
                0% { transform: scale(.7);}
                100% { transform: scale(1);}
            }
        };

        .move {
            transition: all .4s ease;
        }

        .merge {
            @include animation(mergeTiles, .6s) {
                0% { transform: scale(1.5);}
                100% { transform: scale(1);}
        }

    }
    }
}

.hidden {
    display: none;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    justify-content: center;

    .footer__link {
        text-decoration: none;
        color: $selective-yellow;
        font-weight: bold;
    }
}