*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.html {
  height: 100vh;
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #3D348B;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 50px;
}

.main > .row .btn {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  background-color: #7678ED;
  border: 1px solid #7678ED;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.main > .row .btn:hover {
  background-color: #F7B801;
  border: 1px solid #7678ED;
  color: #3D348B;
  cursor: pointer;
}

.main > .row .scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #7678ED;
  margin-left: 20px;
}

.main > .row .scoreboard .scoreboard__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 100%;
}

.main .board {
  display: -ms-grid;
  display: grid;
  min-width: 320px;
  width: 100%;
  border-radius: 5px;
  border: 5px solid #7678ED;
  background-color: #7678ED;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 400px;
}

.main .board .cell {
  border-radius: 5px;
  background-color: #3D348B;
  margin: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .footer__link {
  text-decoration: none;
  color: #F7B801;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */