*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.html {
  height: 100vh;
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #3D348B;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.overlay {
  display: none;
}

.overlay--visible {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay--visible .popup {
  background-color: white;
  position: relative;
  width: 35vw;
  height: 50vh;
  border-radius: 5px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay--visible .popup .popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}

.overlay--visible .popup .popup__header .header__text {
  margin: 0;
}

.overlay--visible .popup .popup__header .btn--close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  margin: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.overlay--visible .popup .popup__header .btn--close:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.overlay--visible .popup .popup__header .btn--close .icon--close {
  height: auto;
  width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 50px;
}

.main > .row .btn {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  background-color: #7678ED;
  border: 1px solid #7678ED;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.main > .row .btn:hover {
  background-color: #F7B801;
  border: 1px solid #7678ED;
  color: #3D348B;
  cursor: pointer;
}

.main > .row .scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #7678ED;
  margin-left: 12px;
}

.main > .row .scoreboard .scoreboard__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  height: 100%;
}

.main .board {
  width: 430px;
  height: 430px;
  border-radius: 5px;
  border: 10px solid #7678ED;
  background: url("../img/board-bg.png") no-repeat no-repeat;
  margin: 0 auto;
  position: relative;
}

.main .board .tile {
  background-color: #3D348B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  width: 95px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 5px;
  position: absolute;
  -webkit-animation-name: addTile;
          animation-name: addTile;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes addTile {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes addTile {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main .board .tile .tile__value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  height: 2rem;
  width: 6em;
  line-height: 2rem;
  text-align: center;
  text-shadow: #0f0f0f 1px 1px;
}

.main .board .tile--2 {
  background-color: #FFE55E;
}

.main .board .tile--4 {
  background-color: #F5E027;
}

.main .board .tile--8 {
  background-color: #FFD600;
}

.main .board .tile--16 {
  background-color: #FFC11E;
}

.main .board .tile--32 {
  background-color: #FFC46B;
}

.main .board .tile--64 {
  background-color: #FF905A;
}

.main .board .tile--128 {
  background-color: #FC9A40;
}

.main .board .tile--256 {
  background-color: #FF7A2F;
}

.main .board .tile--512 {
  background-color: #F85C50;
}

.main .board .tile--1024 {
  background-color: #EE3D48;
}

.main .board .tile--2048 {
  background-color: #E20338;
}

.main .board .move {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main .board .merge {
  -webkit-animation-name: mergeTiles;
          animation-name: mergeTiles;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes mergeTiles {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mergeTiles {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .footer__link {
  text-decoration: none;
  color: #F7B801;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */