*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.html {
  height: 100vh;
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #3D348B;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.btn {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding: 15px;
  margin: 0 5px;
}

.btn--primary {
  color: #FFFFFF;
  background-color: #7678ED;
  border: 1px solid #7678ED;
}

.btn--primary:hover {
  background-color: #F7B801;
  border: 1px solid #7678ED;
  color: #3D348B;
  cursor: pointer;
}

:disabled {
  opacity: .5;
}

:disabled:hover {
  cursor: not-allowed;
  background-color: #7678ED;
  border: 1px solid #7678ED;
  color: #FFFFFF;
}

.radio {
  display: none;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  height: 300px;
  width: 300px;
  opacity: .7;
}

@media (min-width: 481px) and (max-width: 724px) {
  .label {
    height: 210px;
    width: 210px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .label {
    height: 150px;
    width: 150px;
    margin: 5px;
  }
}

.label.label--4 {
  background: url("./../img/board-4.png") center center;
}

@media (min-width: 481px) and (max-width: 724px) {
  .label.label--4 {
    background: url("./../img/board-l-4.png") center center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .label.label--4 {
    background: url("./../img/board-m-4.png") center center;
  }
}

.label.label--5 {
  background: url("./../img/board-5.png") center center;
}

@media (min-width: 481px) and (max-width: 724px) {
  .label.label--5 {
    background: url("./../img/board-l-5.png") center center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .label.label--5 {
    background: url("./../img/board-m-5.png") center center;
  }
}

.radio:not(:checked) + label {
  border: 3px solid transparent;
}

.radio:checked + label {
  border: 3px solid #F7B801;
  border-radius: 5px;
  opacity: 1;
}

.entry-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.entry-screen .row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90vw;
}

.entry-screen .row .radio:not(:checked) + label img {
  border: 3px solid transparent;
  border-radius: 5px;
  opacity: .6;
}

.entry-screen .row .radio__img {
  padding: 10px;
}

.entry-screen .row .radio__text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.entry-screen .row .btn {
  margin: 20px;
}

.hidden {
  display: none;
}

.overlay {
  display: none;
}

.overlay--visible {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay--visible .popup {
  background-color: white;
  position: relative;
  width: 55vw;
  max-width: 650px;
  height: 55vh;
  border-radius: 5px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 481px) and (max-width: 724px) {
  .overlay--visible .popup {
    width: 70vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .overlay--visible .popup {
    width: 80vw;
  }
}

.overlay--visible .popup .popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}

.overlay--visible .popup .popup__header .header__text {
  margin: 0;
}

.overlay--visible .popup .popup__header .btn--close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  margin: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.overlay--visible .popup .popup__header .btn--close:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.overlay--visible .popup .popup__header .btn--close .icon--close {
  height: auto;
  width: 100%;
}

.overlay--visible .popup .popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay--visible .popup .popup__body .text__label {
  font-weight: bold;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.main .header__text {
  text-align: center;
}

.main > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
}

.main > .row .btns__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main > .row .scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 1px solid #7678ED;
  margin-left: 12px;
}

.main > .row .scoreboard .scoreboard__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 100%;
}

.main > .row .scoreboard .scoreboard__wrapper .scoreboard__value {
  font-weight: bold;
}

.main .board {
  width: 430px;
  height: 430px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main .board {
    width: 300px;
    height: 300px;
  }
}

.main .board#t4 {
  background: url("../img/4.png") no-repeat no-repeat;
  -webkit-animation-name: blur;
          animation-name: blur;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(20px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(20px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .main .board#t4 {
    background: url("../img/4-m.png") no-repeat no-repeat;
  }
}

.main .board#t5 {
  background: url("../img/5.png") no-repeat no-repeat;
  -webkit-animation-name: blur;
          animation-name: blur;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@keyframes blur {
  0% {
    -webkit-filter: blur(20px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .main .board#t5 {
    background: url("../img/5-m.png") no-repeat no-repeat;
  }
}

.main .board .tile {
  background-color: #3D348B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 5px;
  position: absolute;
}

.main .board .tile.t4 {
  height: 95px;
  width: 95px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main .board .tile.t4 {
    height: 67.5px;
    width: 67.5px;
  }
}

.main .board .tile.t5 {
  height: 77px;
  width: 77px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main .board .tile.t5 {
    height: 54px;
    width: 54px;
  }
}

.main .board .tile .tile__value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  height: 2rem;
  width: 6em;
  line-height: 2rem;
  text-align: center;
  text-shadow: #0f0f0f 1px 1px;
}

.main .board .tile--2 {
  background-color: #FFE55E;
}

.main .board .tile--4 {
  background-color: #F5E027;
}

.main .board .tile--8 {
  background-color: #FFD600;
}

.main .board .tile--16 {
  background-color: #FFC11E;
}

.main .board .tile--32 {
  background-color: #FFC46B;
}

.main .board .tile--64 {
  background-color: #FF905A;
}

.main .board .tile--128 {
  background-color: #FC9A40;
}

.main .board .tile--256 {
  background-color: #FF7A2F;
}

.main .board .tile--512 {
  background-color: #F85C50;
}

.main .board .tile--1024 {
  background-color: #EE3D48;
}

.main .board .tile--2048 {
  background-color: #E20338;
}

.main .board .add {
  -webkit-animation-name: addTile;
          animation-name: addTile;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

@-webkit-keyframes addTile {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes addTile {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main .board .move {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.main .board .merge {
  -webkit-animation-name: mergeTiles;
          animation-name: mergeTiles;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes mergeTiles {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mergeTiles {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.hidden {
  display: none;
}

.footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  bottom: 0;
  justify-content: center;
}

.footer .footer__link {
  text-decoration: none;
  color: #F7B801;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */