@use '../abstracts/mixins';
@use '../abstracts/functions';

.scoreboard {
    @include mixins.positionFlex(row, center, center);
    border: 1px solid functions.color(medium-slate-blue);
    border-radius: 5px;

    &__score {
        @include mixins.positionFlex(column, center, center);
        height: 100%;
        padding: 0 15px;

        @include mixins.respond-to('mobile') {
            padding: 0 10px;
            font-size: 1rem; 
        }
    }
}

.score {
    &__text--bold {
        font-weight: bold;
    }
}