@use '../abstracts/variables';
@use '../abstracts/mixins';
@use '../abstracts/functions';

.btn {
	@include mixins.positionFlex(row, center, center);
    padding: .5em;
    margin: .2em;
    border: none;
    border-radius: 5px;
	background-color: transparent;
	font-size: 1.1rem;
    font-family: variables.$inter;
    font-weight: bold;

    @include mixins.respond-to('tablet') {
		font-size: 1.2rem;
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &--primary {
        border: 1px solid functions.color(medium-slate-blue);
        background-color: functions.color(medium-slate-blue);
        color: functions.color('white');
        
        &:not(:disabled):hover {
            border: 1px solid functions.color(medium-slate-blue);
            background-color: functions.color(selective-yellow);
            color: functions.color(dark-slate-blue);
            cursor: pointer;
        }
    }

    &__icon {
        height: 1.2em;
        width: 1.2em;
    }
}