@use '../abstracts/mixins';

.board {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    
    @include mixins.animation(blur, 400ms) {
        0% { -webkit-filter: blur(20px);}
        100% { -webkit-filter: blur(0px);}
    }

    @include mixins.respond-to('tablet') {
        width: 400px;
        height: 400px;
    }

    &--4x4 {
        background-image: url('../img/4x4mobile.png');
        @include mixins.respond-to('tablet') {
            background-image: url('../img/4x4desktop.png');
        }
    }
    
    &--5x5 {
        background-image: url('../img/5x5mobile.png');
        @include mixins.respond-to('tablet') {
            background-image: url('../img/5x5desktop.png');
        }
    }
}