@use '../abstracts/mixins';

.board {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;

    @include mixins.respond-to('mobile') {
        width: 300px;
        height: 300px;
    }

    &#t4 {
        background: url('../img/4x4desktop.png') no-repeat no-repeat;
        @include mixins.animation(blur, 400ms) {
            0% { -webkit-filter: blur(20px);}
            100% { -webkit-filter: blur(0px);}
        }
        @include mixins.respond-to('mobile') {
            background: url('../img/4x4mobile.png') no-repeat no-repeat;
        }
    }
    
    &#t5 {
        background: url('../img/5x5desktop.png') no-repeat no-repeat;
        @include mixins.animation(blur, 400ms) {
            0% { -webkit-filter: blur(20px);}
            100% { -webkit-filter: blur(0px);}
        }
        @include mixins.respond-to('mobile') {
            background: url('../img/5x5mobile.png') no-repeat no-repeat;
        }
    }
}